<footer id="footer">

    <div class="emk_footer_banner_block">
   <h2 class="footer-heading">Sign up and we'll send the best deals to you!</h2>
    </div>
    <div class="subscription_form_wrap">
      <form action="/" method="post">
    <input name="phone" type="number" maxlength="10" required="true" id="newsletter_to" class="input_newsletter_subscription_to" placeholder="Your Mobile Number" >
    <button id="newsletter_button_footer" type="submit">
    Subscribe
    </button>
  </form>
    </div>
    <label class="emk_footer_gta_addition_left">
    <input type="checkbox" name="get_the_app" value="1" data-ajax-submit="">
    Send me a link to get the FREE Nemesis.com app!
    </label>

    <p class="footer-text" style="padding-top:10px;">© Copyright 2021 Nemesis</p>

  </footer>


</body>

</html>