<%- include('partials/header2.ejs') %>
<section class="py-5">
    <h1 class="display-3">Thank You</h1>
    <p class="lead">Enjoy your Stay With Us</p>
</section>
<footer><p class="footer-text" style="padding-top:10px;">© Copyright 2021 Nemesis</p></footer>
